@page "/Dewey004"

@using Blazor.DragDrop.Core
@using Mastering_Dewey_PWA.Components
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject AppState AppState

<style type="text/css">
    .title-image {
        height: auto;
        width: 280px;
    }

    .dropList {
        border: 5px solid white;
        padding: 7px;
        background: @ConsoleColor.Black;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 420px;
    }

    .numberList1 {
        border: 5px solid white;
        padding: 7px;
        background: @ConsoleColor.Gray;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList2 {
        border: 5px solid white;
        padding: 7px;
        background: #ADD8E6;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList3 {
        border: 5px solid white;
        padding: 7px;
        background: #800080;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList4 {
        border: 5px solid white;
        padding: 7px;
        background: #008620;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList5 {
        border: 5px solid white;
        padding: 7px;
        background: #FFA500;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList6 {
        border: 5px solid white;
        padding: 7px;
        background: #66CDAA;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList7 {
        border: 5px solid white;
        padding: 7px;
        background: #151B54;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList8 {
        border: 5px solid white;
        padding: 7px;
        background: #E2F516;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList9 {
        border: 5px solid white;
        padding: 7px;
        background: #F67280;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 14px;
        text-align: center;
        width: 80px;
    }

    .numberList10 {
        border: 5px solid white;
        padding: 7px;
        background: #C19A6B;
        color: @ConsoleColor.White;
        height: 40px;
        font-size: 16px;
        text-align: center;
        width: 80px;
    }

    .draggable-item {
        transition: transform 0.3s; /* Add transition for smooth animation */
    }

        .draggable-item:hover {
            transform: scale(1.1); /* Increase size on hover */
        }

</style>

@if (AppState.HasPassedFirstTest)
{
<h1 class="text-center mb-4"><img src="/testyourknowledge.png" class="title-image" /></h1>
<br />
<div class="container ">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item numberList1">400</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList2">410</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList3">420</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList4">430</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList5">440</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList6">450</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList7">460</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList8">470</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList9">480</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList10">490</li>
            </ul>
        </div>
        <div class="col-md-6">
            <Dropzone>
                @for (int i = 1; i <= 10; i++)
                {
                    var randomCategory = GetRandomCategory();
                    if (!string.IsNullOrEmpty(randomCategory))
                    {
                        <div>
                            <Draggable>
                                <li class="list-group-item dropList draggable-item">@randomCategory</li>
                            </Draggable>
                        </div>
                    }
                }
            </Dropzone>

        </div>

    </div>
</div>
<br />
<button class="btn btn-primary" @onclick="CheckPositions">Check Positions</button>
    <br />
    <br />
    <br />
@if (response=="correct"){
    <div class="alert alert-success" role="alert">
        +5 points!!
    </div>
}
else if (response=="incorrect")
{
    <div class="alert alert-danger" role="alert">
        Incorrect!
    </div>
}
}
else
{
    
}

@code {
    bool isCorrect;
    string response;
    LinkedList<string> categories = new LinkedList<string>();
    LinkedList<string> usedCategories = new LinkedList<string>();
    LinkedList<string> expectedOrder = new LinkedList<string>();
    LinkedList<string> actualOrder = new LinkedList<string>();
    Random rand = new Random();
    private bool isInitialized = false;

    private void PopulateCategories()
    {
        categories.AddLast("Language");
        categories.AddLast("Linguistics");
        categories.AddLast("English and Old English languages");
        categories.AddLast("German and related languages");
        categories.AddLast("French and related languages");
        categories.AddLast("Italian, Romanian and related languages");
        categories.AddLast("Spanish, Portuguese, Galician");
        categories.AddLast("Latin and Italic languages");
        categories.AddLast("Classical and modern Greek languages");
        categories.AddLast("Other languages");
    }

    private void PopulateExpectedOrder()
    {
        expectedOrder.AddLast("Language");
        expectedOrder.AddLast("Linguistics");
        expectedOrder.AddLast("English and Old English languages");
        expectedOrder.AddLast("German and related languages");
        expectedOrder.AddLast("French and related languages");
        expectedOrder.AddLast("Italian, Romanian and related languages");
        expectedOrder.AddLast("Spanish, Portuguese, Galician");
        expectedOrder.AddLast("Latin and Italic languages");
        expectedOrder.AddLast("Classical and modern Greek languages");
        expectedOrder.AddLast("Other languages");
    }

    private string GetRandomCategory()
    {
        if (categories.Count > 0)
        {
            int index = rand.Next(categories.Count);
            var node = categories.First;
            for (int i = 0; i < index; i++)
            {
                node = node.Next;
            }
            string randomCategory = node.Value;
            usedCategories.AddLast(randomCategory);
            categories.Remove(node);
            return randomCategory;
        }
        return string.Empty;
    }

    private async Task<List<string>> GetActualOrder()
    {
        return await JSRuntime.InvokeAsync<List<string>>("blazorCheckPositions");
    }

    private async Task CheckPositions()
    {
        List<string> actualOrder = await JSRuntime.InvokeAsync<List<string>>("blazorCheckPositions");

        isCorrect = Enumerable.SequenceEqual(actualOrder, expectedOrder);

        if (isCorrect)
        {
            response = "correct";
        }
        else
        {
            // The order is incorrect
            response = "incorrect";
        }
    }

    // Initialize the linked lists when the component is initialized
    protected override void OnInitialized()
    {
        if (!isInitialized)
        {
            PopulateCategories();
            PopulateExpectedOrder();
            isInitialized = true;
        }
        base.OnInitialized();
    }
}

