@page "/Dewey008"
@using Blazor.DragDrop.Core
@using Mastering_Dewey_PWA.Components
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<style type="text/css">
    .title-image {
        height: auto;
        width: 350px;
    }

    .dropList {
        border: 5px solid white;
        padding: 7px;
        background: @ConsoleColor.Black;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 600px;
    }

    .numberList1 {
        border: 5px solid white;
        padding: 7px;
        background: @ConsoleColor.Gray;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList2 {
        border: 5px solid white;
        padding: 7px;
        background: #ADD8E6;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList3 {
        border: 5px solid white;
        padding: 7px;
        background: #800080;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList4 {
        border: 5px solid white;
        padding: 7px;
        background: #008620;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList5 {
        border: 5px solid white;
        padding: 7px;
        background: #FFA500;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList6 {
        border: 5px solid white;
        padding: 7px;
        background: #66CDAA;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList7 {
        border: 5px solid white;
        padding: 7px;
        background: #151B54;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList8 {
        border: 5px solid white;
        padding: 7px;
        background: #E2F516;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList9 {
        border: 5px solid white;
        padding: 7px;
        background: #F67280;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .numberList10 {
        border: 5px solid white;
        padding: 7px;
        background: #C19A6B;
        color: @ConsoleColor.White;
        height: 50px;
        font-size: 20px;
        text-align: center;
        width: 80px;
    }

    .draggable-item {
        transition: transform 0.3s; /* Add transition for smooth animation */
    }

        .draggable-item:hover {
            transform: scale(1.1); /* Increase size on hover */
        }

</style>

<h1 class="text-center mb-4"><img src="/testyourknowledge.png" class="title-image" /></h1>
<br />
<div class="container ">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item numberList1">800</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList2">810</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList3">820</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList4">830</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList5">840</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList6">850</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList7">860</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList8">870</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList9">880</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item numberList10">890</li>
            </ul>
        </div>
        <div class="col-md-6">
            <Dropzone>
                @for (int i = 1; i <= 10; i++)
                {
                    var randomCategory = GetRandomCategory();
                    if (!string.IsNullOrEmpty(randomCategory))
                    {
                        <div>
                            <Draggable>
                                <li class="list-group-item dropList draggable-item">@randomCategory</li>
                            </Draggable>
                        </div>
                    }
                }
            </Dropzone>

        </div>

    </div>
</div>
<br />
<button class="btn btn-primary" @onclick="CheckPositions">Check Positions</button>

<div>@response</div>


@code {
    bool isCorrect;
    string response;
    LinkedList<string> categories = new LinkedList<string>();
    LinkedList<string> usedCategories = new LinkedList<string>();
    LinkedList<string> expectedOrder = new LinkedList<string>();
    LinkedList<string> actualOrder = new LinkedList<string>();
    Random rand = new Random();
    private bool isInitialized = false;

    private void PopulateCategories()
    {
        categories.AddLast("Literature (Belles-lettres) and rhetoric");
        categories.AddLast("American literature in English");
        categories.AddLast("English and Old English literatures");
        categories.AddLast("German and related literatures");
        categories.AddLast("French and related literatures");
        categories.AddLast("Italian, Romanian and related literatures");
        categories.AddLast("Spanish, Portuguese, Galician literatures");
        categories.AddLast("Latin and Italic literatures");
        categories.AddLast("Classical and modern Greek literatures");
        categories.AddLast("Other literatures");
    }

    private void PopulateExpectedOrder()
    {
        expectedOrder.AddLast("Literature (Belles-lettres) and rhetoric");
        expectedOrder.AddLast("American literature in English");
        expectedOrder.AddLast("English and Old English literatures");
        expectedOrder.AddLast("German and related literatures");
        expectedOrder.AddLast("French and related literatures");
        expectedOrder.AddLast("Italian, Romanian and related literatures");
        expectedOrder.AddLast("Spanish, Portuguese, Galician literatures");
        expectedOrder.AddLast("Latin and Italic literatures");
        expectedOrder.AddLast("Classical and modern Greek literatures");
        expectedOrder.AddLast("Other literatures");
    }

    private string GetRandomCategory()
    {
        if (categories.Count > 0)
        {
            int index = rand.Next(categories.Count);
            var node = categories.First;
            for (int i = 0; i < index; i++)
            {
                node = node.Next;
            }
            string randomCategory = node.Value;
            usedCategories.AddLast(randomCategory);
            categories.Remove(node);
            return randomCategory;
        }
        return string.Empty;
    }

    private async Task<List<string>> GetActualOrder()
    {
        return await JSRuntime.InvokeAsync<List<string>>("blazorCheckPositions");
    }

    private async Task CheckPositions()
    {
        List<string> actualOrder = await JSRuntime.InvokeAsync<List<string>>("blazorCheckPositions");

        isCorrect = Enumerable.SequenceEqual(actualOrder, expectedOrder);

        if (isCorrect)
        {
            response = "correct";
            NavigationManager.NavigateTo("Counter");
        }
        else
        {
            // The order is incorrect
            response = "incorrect";
            NavigationManager.NavigateTo("Counter");
        }
    }

    // Initialize the linked lists when the component is initialized
    protected override void OnInitialized()
    {
        if (!isInitialized)
        {
            PopulateCategories();
            PopulateExpectedOrder();
            isInitialized = true;
        }
        base.OnInitialized();
    }
}

